<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='aboutme.css')}}">
        <title>About Me</title>
        
    </head>
    <body>
        <br>
        <h1>R.Praveen Kumar</h1><br>
        No.17,  S.V.K. street, <br>
        Shevapet, Salem-636002.  <br> 
        Mobile No.:8754287377 <br>
        <b>E-mail: prawin1307@gmail.com </b><br>
        Praveen Kumar | Linkedin <br><br><br>

        <b>OBJECTIVE: </b><br>

   To stay hungry in the field in which I get delighted and establish my worth in the auction <br>
   of talents in order to fetch myself a venerable job in the corporate. <br><br><br>

  <b>BASIC ACADEMIC CREDENTIALS: </b><br>
  <table>
        <tr>
            <th>Qualification</th>
            <th>School/College</th>
            <th>Year</th>
            <th>Percentage/C.G.P.A</th>
        </tr>
        <tr>
            <td><b>B.E.(Mech)</b></td>
            <td>University college of Engg, Ariyalur. </td> 
            <td>2013-2017 </td>
            <td>7.52 </td>   
        </tr>
        <tr>
            <td><b>H.S.C. </b></td>
            <td>E.R. Higher Secondary School,Trichy </td>
            <td>2012-2013 </td>
            <td>85.5</td>
        </tr>
        <tr>
            <td><b>S.S.L.C </b></td>
            <td>Good Shepherd Matriculation School,Trichy </td>
            <td>2010-2011 </td>
            <td>86.4 </td>
        </tr>

  </table>

   
<br><br>
<b>TECHNICAL SKILLS: </b><br>

Programming Language known     : Python, HTML, CSS, MySQL DB <br>

Operating Systems known        : Windows 7,8,10. <br>

Application Known              : MS-Office. <br>
<br><br>
<b>AREA OF INTEREST: </b><br>

Programming in C, C++, JAVA, PYTHON, MySQL DB <br><br><br>
<b>EXTRA CURRICULAR ACTIVITIES:   </b><br>
<ul>
    <li>Is an Hand Ball Player. </li>
    <li>Is an chess player.</li>
</ul>  
<br>
<b>SKILLS: </b><br>
<ul>
    <li>Good at programming in PYTHON. </li>
    <li>Good in HTML, CSS,MySQLDB </li>
    <li>Good at communicating in English. </li>
</ul>   
<br><br>
<b>PERSONAL DETAILS: </b><br>

Father’s Name           :    Mr. V. RAJASEKAR <br>

Gender                  :    MALE <br>

Date of Birth           :    13-07-1995  <br> 

Nationality             :     INDIAN <br>

Languages Known    :      TAMIL, TELUGU, ENGLISH. (Knows to read, write & speak) <br>
    </body>
</html>